.about {
    width: 100%;
    height: auto;
}
.grid {
    width: 80%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.banner {
    height: 850px;
    position: relative;
}
.grid > div {
    background-color: #031322;
    height: 320px;
    flex: 30%;
    margin: 15px 10px;
    padding: 40px;
    display: flex;
    flex-flow: column wrap;
}
.grid > div > div {
    margin: 10px 0;
}
.icon {
    position: relative;
    width: 55px;
    height: 55px;
}
.grid strong {
    color: white;
    font-size: 18px;
    position: block;
}
.grid p {
    color: white;
    font-weight: lighter;
    line-height: 1.4;
}
.projects {
    width: 100%;
    height: auto;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #031322;
    color: white;
}
.projects > div {
    width: 85%;
    margin: auto;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.projects > div > div {
    height: 60px;
    flex: 19%;
    margin: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}
.count {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}
.count span {
    font-size: 30px;
    display: block;
}
.projects > div > div .icons {
    position: relative;
    width: 55px;
    height: 55px;
}